/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

 .fixed-header
 {
 width: 100%;
 position: fixed;
 background: #333;
 padding: 10px 0;
 color: #fff;
 top: 0;
 }
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    color: #fff;
    padding: 7px 25px;
    display: inline-block;
    }
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }

.main_to_btn{
    width: 400px;
    height: 100px;
    text-align: center;
    font-size: 300px;
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.cardm{
    width: auto;
    border: none;
    border-radius: 100px;
    background-color: #fff;
  }
  
  .card{
    width: auto;
    border: none;
    border-radius: 100px;
    background-color: #fff;
  }
  
  .bgo{
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }
  .stats{
  
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
      color: #000 !important;
      width: auto;
      text-align: center;
  }
  .articles{
    font-size:10px;
    color: #a1aab9;
    text-align: center;
  }
  .number1{
    font-weight:500;
    text-align: center;
    text-align: center;
  }
  .followers{
      font-size:10px;
    color: #a1aab9;
    text-align: center;
  
  }
  .number2{
    font-weight:500;
    text-align: center;
  }
  .rating{
      font-size:10px;
    color: #a1aab9;
  }
  .number3{
    text-align: center;
    font-weight:500;
  }

  .left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 300px;
    height: auto;
}
.right {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 300px;
    height: auto;
}
img.m{ 
  width: 300px;
  height: auto;
}

